blockquote {
    background-color: #28434b;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.50rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    color: white;
    font-size: 11pt;
    box-shadow: 1px 1px 3px black;
    border-radius: 4px;
    text-align: justify;
    text-justify: kashida;
}

img {
    display: block;
    max-width: 80%;
    margin: auto auto;
}

.itch-embed {
    display: block;
    margin: auto auto;
    box-sizing: content-box;    
    padding: 1rem;    
    box-shadow: inset -1px 1px 3px black;
    border-bottom: 1px solid #2b3642;
    border-left: 1px solid #2b3642;
    border-radius: 4px;
    background-color: rgb(14, 15, 24);
}