.xhighlight .hll { background-color: #ffffcc }
.xhighlight  { background: #ffffff; }
.xhighlight .c { color: #aaaaaa; font-style: italic } /* Comment */
.xhighlight .err { color: #FF0000; background-color: #FFAAAA } /* Error */
.xhighlight .k { color: #0000aa } /* Keyword */
.xhighlight .ch { color: #aaaaaa; font-style: italic } /* Comment.Hashbang */
.xhighlight .cm { color: #aaaaaa; font-style: italic } /* Comment.Multiline */
.xhighlight .cp { color: #4c8317 } /* Comment.Preproc */
.xhighlight .cpf { color: #aaaaaa; font-style: italic } /* Comment.PreprocFile */
.xhighlight .c1 { color: #aaaaaa; font-style: italic } /* Comment.Single */
.xhighlight .cs { color: #0000aa; font-style: italic } /* Comment.Special */
.xhighlight .gd { color: #aa0000 } /* Generic.Deleted */
.xhighlight .ge { font-style: italic } /* Generic.Emph */
.xhighlight .gr { color: #aa0000 } /* Generic.Error */
.xhighlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.xhighlight .gi { color: #00aa00 } /* Generic.Inserted */
.xhighlight .go { color: #888888 } /* Generic.Output */
.xhighlight .gp { color: #555555 } /* Generic.Prompt */
.xhighlight .gs { font-weight: bold } /* Generic.Strong */
.xhighlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.xhighlight .gt { color: #aa0000 } /* Generic.Traceback */
.xhighlight .kc { color: #0000aa } /* Keyword.Constant */
.xhighlight .kd { color: #0000aa } /* Keyword.Declaration */
.xhighlight .kn { color: #0000aa } /* Keyword.Namespace */
.xhighlight .kp { color: #0000aa } /* Keyword.Pseudo */
.xhighlight .kr { color: #0000aa } /* Keyword.Reserved */
.xhighlight .kt { color: #00aaaa } /* Keyword.Type */
.xhighlight .m { color: #009999 } /* Literal.Number */
.xhighlight .s { color: #aa5500 } /* Literal.String */
.xhighlight .na { color: #1e90ff } /* Name.Attribute */
.xhighlight .nb { color: #00aaaa } /* Name.Builtin */
.xhighlight .nc { color: #00aa00; text-decoration: underline } /* Name.Class */
.xhighlight .no { color: #aa0000 } /* Name.Constant */
.xhighlight .nd { color: #888888 } /* Name.Decorator */
.xhighlight .ni { color: #880000; font-weight: bold } /* Name.Entity */
.xhighlight .nf { color: #00aa00 } /* Name.Function */
.xhighlight .nn { color: #00aaaa; text-decoration: underline } /* Name.Namespace */
.xhighlight .nt { color: #1e90ff; font-weight: bold } /* Name.Tag */
.xhighlight .nv { color: #aa0000 } /* Name.Variable */
.xhighlight .ow { color: #0000aa } /* Operator.Word */
.xhighlight .w { color: #bbbbbb } /* Text.Whitespace */
.xhighlight .mb { color: #009999 } /* Literal.Number.Bin */
.xhighlight .mf { color: #009999 } /* Literal.Number.Float */
.xhighlight .mh { color: #009999 } /* Literal.Number.Hex */
.xhighlight .mi { color: #009999 } /* Literal.Number.Integer */
.xhighlight .mo { color: #009999 } /* Literal.Number.Oct */
.xhighlight .sa { color: #aa5500 } /* Literal.String.Affix */
.xhighlight .sb { color: #aa5500 } /* Literal.String.Backtick */
.xhighlight .sc { color: #aa5500 } /* Literal.String.Char */
.xhighlight .dl { color: #aa5500 } /* Literal.String.Delimiter */
.xhighlight .sd { color: #aa5500 } /* Literal.String.Doc */
.xhighlight .s2 { color: #aa5500 } /* Literal.String.Double */
.xhighlight .se { color: #aa5500 } /* Literal.String.Escape */
.xhighlight .sh { color: #aa5500 } /* Literal.String.Heredoc */
.xhighlight .si { color: #aa5500 } /* Literal.String.Interpol */
.xhighlight .sx { color: #aa5500 } /* Literal.String.Other */
.xhighlight .sr { color: #009999 } /* Literal.String.Regex */
.xhighlight .s1 { color: #aa5500 } /* Literal.String.Single */
.xhighlight .ss { color: #0000aa } /* Literal.String.Symbol */
.xhighlight .bp { color: #00aaaa } /* Name.Builtin.Pseudo */
.xhighlight .fm { color: #00aa00 } /* Name.Function.Magic */
.xhighlight .vc { color: #aa0000 } /* Name.Variable.Class */
.xhighlight .vg { color: #aa0000 } /* Name.Variable.Global */
.xhighlight .vi { color: #aa0000 } /* Name.Variable.Instance */
.xhighlight .vm { color: #aa0000 } /* Name.Variable.Magic */
.xhighlight .il { color: #009999 } /* Literal.Number.Integer.Long */
