.xhighlight .hll { background-color: #ffffcc }
.xhighlight  { background: #ffffff; }
.xhighlight .c { color: #008800; font-style: italic } /* Comment */
.xhighlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.xhighlight .k { color: #000080; font-weight: bold } /* Keyword */
.xhighlight .ch { color: #008800; font-style: italic } /* Comment.Hashbang */
.xhighlight .cm { color: #008800; font-style: italic } /* Comment.Multiline */
.xhighlight .cp { color: #008080 } /* Comment.Preproc */
.xhighlight .cpf { color: #008800; font-style: italic } /* Comment.PreprocFile */
.xhighlight .c1 { color: #008800; font-style: italic } /* Comment.Single */
.xhighlight .cs { color: #008800; font-weight: bold } /* Comment.Special */
.xhighlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.xhighlight .ge { font-style: italic } /* Generic.Emph */
.xhighlight .gr { color: #aa0000 } /* Generic.Error */
.xhighlight .gh { color: #999999 } /* Generic.Heading */
.xhighlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.xhighlight .go { color: #888888 } /* Generic.Output */
.xhighlight .gp { color: #555555 } /* Generic.Prompt */
.xhighlight .gs { font-weight: bold } /* Generic.Strong */
.xhighlight .gu { color: #aaaaaa } /* Generic.Subheading */
.xhighlight .gt { color: #aa0000 } /* Generic.Traceback */
.xhighlight .kc { color: #000080; font-weight: bold } /* Keyword.Constant */
.xhighlight .kd { color: #000080; font-weight: bold } /* Keyword.Declaration */
.xhighlight .kn { color: #000080; font-weight: bold } /* Keyword.Namespace */
.xhighlight .kp { color: #000080; font-weight: bold } /* Keyword.Pseudo */
.xhighlight .kr { color: #000080; font-weight: bold } /* Keyword.Reserved */
.xhighlight .kt { color: #000080; font-weight: bold } /* Keyword.Type */
.xhighlight .m { color: #0000FF } /* Literal.Number */
.xhighlight .s { color: #0000FF } /* Literal.String */
.xhighlight .na { color: #FF0000 } /* Name.Attribute */
.xhighlight .nt { color: #000080; font-weight: bold } /* Name.Tag */
.xhighlight .ow { font-weight: bold } /* Operator.Word */
.xhighlight .w { color: #bbbbbb } /* Text.Whitespace */
.xhighlight .mb { color: #0000FF } /* Literal.Number.Bin */
.xhighlight .mf { color: #0000FF } /* Literal.Number.Float */
.xhighlight .mh { color: #0000FF } /* Literal.Number.Hex */
.xhighlight .mi { color: #0000FF } /* Literal.Number.Integer */
.xhighlight .mo { color: #0000FF } /* Literal.Number.Oct */
.xhighlight .sa { color: #0000FF } /* Literal.String.Affix */
.xhighlight .sb { color: #0000FF } /* Literal.String.Backtick */
.xhighlight .sc { color: #800080 } /* Literal.String.Char */
.xhighlight .dl { color: #0000FF } /* Literal.String.Delimiter */
.xhighlight .sd { color: #0000FF } /* Literal.String.Doc */
.xhighlight .s2 { color: #0000FF } /* Literal.String.Double */
.xhighlight .se { color: #0000FF } /* Literal.String.Escape */
.xhighlight .sh { color: #0000FF } /* Literal.String.Heredoc */
.xhighlight .si { color: #0000FF } /* Literal.String.Interpol */
.xhighlight .sx { color: #0000FF } /* Literal.String.Other */
.xhighlight .sr { color: #0000FF } /* Literal.String.Regex */
.xhighlight .s1 { color: #0000FF } /* Literal.String.Single */
.xhighlight .ss { color: #0000FF } /* Literal.String.Symbol */
.xhighlight .il { color: #0000FF } /* Literal.Number.Integer.Long */
