.xhighlight .hll { background-color: #ffffcc }
.xhighlight  { background: #ffffff; }
.xhighlight .c { font-style: italic } /* Comment */
.xhighlight .err { border: 1px solid #FF0000 } /* Error */
.xhighlight .k { font-weight: bold } /* Keyword */
.xhighlight .ch { font-style: italic } /* Comment.Hashbang */
.xhighlight .cm { font-style: italic } /* Comment.Multiline */
.xhighlight .cpf { font-style: italic } /* Comment.PreprocFile */
.xhighlight .c1 { font-style: italic } /* Comment.Single */
.xhighlight .cs { font-style: italic } /* Comment.Special */
.xhighlight .ge { font-style: italic } /* Generic.Emph */
.xhighlight .gh { font-weight: bold } /* Generic.Heading */
.xhighlight .gp { font-weight: bold } /* Generic.Prompt */
.xhighlight .gs { font-weight: bold } /* Generic.Strong */
.xhighlight .gu { font-weight: bold } /* Generic.Subheading */
.xhighlight .kc { font-weight: bold } /* Keyword.Constant */
.xhighlight .kd { font-weight: bold } /* Keyword.Declaration */
.xhighlight .kn { font-weight: bold } /* Keyword.Namespace */
.xhighlight .kr { font-weight: bold } /* Keyword.Reserved */
.xhighlight .s { font-style: italic } /* Literal.String */
.xhighlight .nc { font-weight: bold } /* Name.Class */
.xhighlight .ni { font-weight: bold } /* Name.Entity */
.xhighlight .ne { font-weight: bold } /* Name.Exception */
.xhighlight .nn { font-weight: bold } /* Name.Namespace */
.xhighlight .nt { font-weight: bold } /* Name.Tag */
.xhighlight .ow { font-weight: bold } /* Operator.Word */
.xhighlight .sa { font-style: italic } /* Literal.String.Affix */
.xhighlight .sb { font-style: italic } /* Literal.String.Backtick */
.xhighlight .sc { font-style: italic } /* Literal.String.Char */
.xhighlight .dl { font-style: italic } /* Literal.String.Delimiter */
.xhighlight .sd { font-style: italic } /* Literal.String.Doc */
.xhighlight .s2 { font-style: italic } /* Literal.String.Double */
.xhighlight .se { font-weight: bold; font-style: italic } /* Literal.String.Escape */
.xhighlight .sh { font-style: italic } /* Literal.String.Heredoc */
.xhighlight .si { font-weight: bold; font-style: italic } /* Literal.String.Interpol */
.xhighlight .sx { font-style: italic } /* Literal.String.Other */
.xhighlight .sr { font-style: italic } /* Literal.String.Regex */
.xhighlight .s1 { font-style: italic } /* Literal.String.Single */
.xhighlight .ss { font-style: italic } /* Literal.String.Symbol */
