.xhighlight .hll { background-color: #ffffcc }
.xhighlight  { background: #f8f8f8; }
.xhighlight .c { color: #408080; font-style: italic } /* Comment */
.xhighlight .err { border: 1px solid #FF0000 } /* Error */
.xhighlight .k { color: #008000; font-weight: bold } /* Keyword */
.xhighlight .o { color: #666666 } /* Operator */
.xhighlight .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
.xhighlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.xhighlight .cp { color: #BC7A00 } /* Comment.Preproc */
.xhighlight .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
.xhighlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
.xhighlight .cs { color: #408080; font-style: italic } /* Comment.Special */
.xhighlight .gd { color: #A00000 } /* Generic.Deleted */
.xhighlight .ge { font-style: italic } /* Generic.Emph */
.xhighlight .gr { color: #FF0000 } /* Generic.Error */
.xhighlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.xhighlight .gi { color: #00A000 } /* Generic.Inserted */
.xhighlight .go { color: #888888 } /* Generic.Output */
.xhighlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.xhighlight .gs { font-weight: bold } /* Generic.Strong */
.xhighlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.xhighlight .gt { color: #0044DD } /* Generic.Traceback */
.xhighlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.xhighlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.xhighlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.xhighlight .kp { color: #008000 } /* Keyword.Pseudo */
.xhighlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.xhighlight .kt { color: #B00040 } /* Keyword.Type */
.xhighlight .m { color: #666666 } /* Literal.Number */
.xhighlight .s { color: #BA2121 } /* Literal.String */
.xhighlight .na { color: #7D9029 } /* Name.Attribute */
.xhighlight .nb { color: #008000 } /* Name.Builtin */
.xhighlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.xhighlight .no { color: #880000 } /* Name.Constant */
.xhighlight .nd { color: #AA22FF } /* Name.Decorator */
.xhighlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.xhighlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.xhighlight .nf { color: #0000FF } /* Name.Function */
.xhighlight .nl { color: #A0A000 } /* Name.Label */
.xhighlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.xhighlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.xhighlight .nv { color: #19177C } /* Name.Variable */
.xhighlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.xhighlight .w { color: #bbbbbb } /* Text.Whitespace */
.xhighlight .mb { color: #666666 } /* Literal.Number.Bin */
.xhighlight .mf { color: #666666 } /* Literal.Number.Float */
.xhighlight .mh { color: #666666 } /* Literal.Number.Hex */
.xhighlight .mi { color: #666666 } /* Literal.Number.Integer */
.xhighlight .mo { color: #666666 } /* Literal.Number.Oct */
.xhighlight .sa { color: #BA2121 } /* Literal.String.Affix */
.xhighlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.xhighlight .sc { color: #BA2121 } /* Literal.String.Char */
.xhighlight .dl { color: #BA2121 } /* Literal.String.Delimiter */
.xhighlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.xhighlight .s2 { color: #BA2121 } /* Literal.String.Double */
.xhighlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.xhighlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.xhighlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.xhighlight .sx { color: #008000 } /* Literal.String.Other */
.xhighlight .sr { color: #BB6688 } /* Literal.String.Regex */
.xhighlight .s1 { color: #BA2121 } /* Literal.String.Single */
.xhighlight .ss { color: #19177C } /* Literal.String.Symbol */
.xhighlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.xhighlight .fm { color: #0000FF } /* Name.Function.Magic */
.xhighlight .vc { color: #19177C } /* Name.Variable.Class */
.xhighlight .vg { color: #19177C } /* Name.Variable.Global */
.xhighlight .vi { color: #19177C } /* Name.Variable.Instance */
.xhighlight .vm { color: #19177C } /* Name.Variable.Magic */
.xhighlight .il { color: #666666 } /* Literal.Number.Integer.Long */
