.xhighlight pre .hll { background-color: #ffffcc }
.xhighlight pre  { background: #ffffff; }
.xhighlight pre .c { color: #FF0000; font-style: italic } /* Comment */
.xhighlight pre .k { color: #0000FF } /* Keyword */
.xhighlight pre .ch { color: #FF0000; font-style: italic } /* Comment.Hashbang */
.xhighlight pre .cm { color: #FF0000; font-style: italic } /* Comment.Multiline */
.xhighlight pre .cp { color: #FF0000; font-style: italic } /* Comment.Preproc */
.xhighlight pre .cpf { color: #FF0000; font-style: italic } /* Comment.PreprocFile */
.xhighlight pre .c1 { color: #FF0000; font-style: italic } /* Comment.Single */
.xhighlight pre .cs { color: #FF0000; font-style: italic } /* Comment.Special */
.xhighlight pre .kc { color: #0000FF } /* Keyword.Constant */
.xhighlight pre .kd { color: #0000FF } /* Keyword.Declaration */
.xhighlight pre .kn { color: #0000FF } /* Keyword.Namespace */
.xhighlight pre .kp { color: #0000FF } /* Keyword.Pseudo */
.xhighlight pre .kr { color: #0000FF } /* Keyword.Reserved */
.xhighlight pre .kt { color: #0000FF } /* Keyword.Type */
.xhighlight pre .s { color: #009C00 } /* Literal.String */
.xhighlight pre .nc { color: #007575 } /* Name.Class */
.xhighlight pre .nd { color: #CC00A3 } /* Name.Decorator */
.xhighlight pre .nf { color: #C34E00 } /* Name.Function */
.xhighlight pre .sa { color: #009C00 } /* Literal.String.Affix */
.xhighlight pre .sb { color: #009C00 } /* Literal.String.Backtick */
.xhighlight pre .sc { color: #009C00 } /* Literal.String.Char */
.xhighlight pre .dl { color: #009C00 } /* Literal.String.Delimiter */
.xhighlight pre .sd { color: #009C00 } /* Literal.String.Doc */
.xhighlight pre .s2 { color: #009C00 } /* Literal.String.Double */
.xhighlight pre .se { color: #009C00 } /* Literal.String.Escape */
.xhighlight pre .sh { color: #009C00 } /* Literal.String.Heredoc */
.xhighlight pre .si { color: #009C00 } /* Literal.String.Interpol */
.xhighlight pre .sx { color: #009C00 } /* Literal.String.Other */
.xhighlight pre .sr { color: #009C00 } /* Literal.String.Regex */
.xhighlight pre .s1 { color: #009C00 } /* Literal.String.Single */
.xhighlight pre .ss { color: #009C00 } /* Literal.String.Symbol */
.xhighlight pre .fm { color: #C34E00 } /* Name.Function.Magic */
