.xhighlight .hll { background-color: #404040 }
.xhighlight  { background: #202020; color: #d0d0d0 }
.xhighlight .c { color: #999999; font-style: italic } /* Comment */
.xhighlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.xhighlight .esc { color: #d0d0d0 } /* Escape */
.xhighlight .g { color: #d0d0d0 } /* Generic */
.xhighlight .k { color: #6ab825; font-weight: bold } /* Keyword */
.xhighlight .l { color: #d0d0d0 } /* Literal */
.xhighlight .n { color: #d0d0d0 } /* Name */
.xhighlight .o { color: #d0d0d0 } /* Operator */
.xhighlight .x { color: #d0d0d0 } /* Other */
.xhighlight .p { color: #d0d0d0 } /* Punctuation */
.xhighlight .ch { color: #999999; font-style: italic } /* Comment.Hashbang */
.xhighlight .cm { color: #999999; font-style: italic } /* Comment.Multiline */
.xhighlight .cp { color: #cd2828; font-weight: bold } /* Comment.Preproc */
.xhighlight .cpf { color: #999999; font-style: italic } /* Comment.PreprocFile */
.xhighlight .c1 { color: #999999; font-style: italic } /* Comment.Single */
.xhighlight .cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
.xhighlight .gd { color: #d22323 } /* Generic.Deleted */
.xhighlight .ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
.xhighlight .gr { color: #d22323 } /* Generic.Error */
.xhighlight .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.xhighlight .gi { color: #589819 } /* Generic.Inserted */
.xhighlight .go { color: #cccccc } /* Generic.Output */
.xhighlight .gp { color: #aaaaaa } /* Generic.Prompt */
.xhighlight .gs { color: #d0d0d0; font-weight: bold } /* Generic.Strong */
.xhighlight .gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
.xhighlight .gt { color: #d22323 } /* Generic.Traceback */
.xhighlight .kc { color: #6ab825; font-weight: bold } /* Keyword.Constant */
.xhighlight .kd { color: #6ab825; font-weight: bold } /* Keyword.Declaration */
.xhighlight .kn { color: #6ab825; font-weight: bold } /* Keyword.Namespace */
.xhighlight .kp { color: #6ab825 } /* Keyword.Pseudo */
.xhighlight .kr { color: #6ab825; font-weight: bold } /* Keyword.Reserved */
.xhighlight .kt { color: #6ab825; font-weight: bold } /* Keyword.Type */
.xhighlight .ld { color: #d0d0d0 } /* Literal.Date */
.xhighlight .m { color: #3677a9 } /* Literal.Number */
.xhighlight .s { color: #ed9d13 } /* Literal.String */
.xhighlight .na { color: #bbbbbb } /* Name.Attribute */
.xhighlight .nb { color: #24909d } /* Name.Builtin */
.xhighlight .nc { color: #447fcf; text-decoration: underline } /* Name.Class */
.xhighlight .no { color: #40ffff } /* Name.Constant */
.xhighlight .nd { color: #ffa500 } /* Name.Decorator */
.xhighlight .ni { color: #d0d0d0 } /* Name.Entity */
.xhighlight .ne { color: #bbbbbb } /* Name.Exception */
.xhighlight .nf { color: #447fcf } /* Name.Function */
.xhighlight .nl { color: #d0d0d0 } /* Name.Label */
.xhighlight .nn { color: #447fcf; text-decoration: underline } /* Name.Namespace */
.xhighlight .nx { color: #d0d0d0 } /* Name.Other */
.xhighlight .py { color: #d0d0d0 } /* Name.Property */
.xhighlight .nt { color: #6ab825; font-weight: bold } /* Name.Tag */
.xhighlight .nv { color: #40ffff } /* Name.Variable */
.xhighlight .ow { color: #6ab825; font-weight: bold } /* Operator.Word */
.xhighlight .w { color: #666666 } /* Text.Whitespace */
.xhighlight .mb { color: #3677a9 } /* Literal.Number.Bin */
.xhighlight .mf { color: #3677a9 } /* Literal.Number.Float */
.xhighlight .mh { color: #3677a9 } /* Literal.Number.Hex */
.xhighlight .mi { color: #3677a9 } /* Literal.Number.Integer */
.xhighlight .mo { color: #3677a9 } /* Literal.Number.Oct */
.xhighlight .sa { color: #ed9d13 } /* Literal.String.Affix */
.xhighlight .sb { color: #ed9d13 } /* Literal.String.Backtick */
.xhighlight .sc { color: #ed9d13 } /* Literal.String.Char */
.xhighlight .dl { color: #ed9d13 } /* Literal.String.Delimiter */
.xhighlight .sd { color: #ed9d13 } /* Literal.String.Doc */
.xhighlight .s2 { color: #ed9d13 } /* Literal.String.Double */
.xhighlight .se { color: #ed9d13 } /* Literal.String.Escape */
.xhighlight .sh { color: #ed9d13 } /* Literal.String.Heredoc */
.xhighlight .si { color: #ed9d13 } /* Literal.String.Interpol */
.xhighlight .sx { color: #ffa500 } /* Literal.String.Other */
.xhighlight .sr { color: #ed9d13 } /* Literal.String.Regex */
.xhighlight .s1 { color: #ed9d13 } /* Literal.String.Single */
.xhighlight .ss { color: #ed9d13 } /* Literal.String.Symbol */
.xhighlight .bp { color: #24909d } /* Name.Builtin.Pseudo */
.xhighlight .fm { color: #447fcf } /* Name.Function.Magic */
.xhighlight .vc { color: #40ffff } /* Name.Variable.Class */
.xhighlight .vg { color: #40ffff } /* Name.Variable.Global */
.xhighlight .vi { color: #40ffff } /* Name.Variable.Instance */
.xhighlight .vm { color: #40ffff } /* Name.Variable.Magic */
.xhighlight .il { color: #3677a9 } /* Literal.Number.Integer.Long */
