.xhighlight pre .hll { background-color: #4f424c }
.xhighlight pre  { background: #2f1e2e; color: #e7e9db }
.xhighlight pre .c { color: #776e71 } /* Comment */
.xhighlight pre .err { color: #ef6155 } /* Error */
.xhighlight pre .k { color: #815ba4 } /* Keyword */
.xhighlight pre .l { color: #f99b15 } /* Literal */
.xhighlight pre .n { color: #e7e9db } /* Name */
.xhighlight pre .o { color: #5bc4bf } /* Operator */
.xhighlight pre .p { color: #e7e9db } /* Punctuation */
.xhighlight pre .ch { color: #776e71 } /* Comment.Hashbang */
.xhighlight pre .cm { color: #776e71 } /* Comment.Multiline */
.xhighlight pre .cp { color: #776e71 } /* Comment.Preproc */
.xhighlight pre .cpf { color: #776e71 } /* Comment.PreprocFile */
.xhighlight pre .c1 { color: #776e71 } /* Comment.Single */
.xhighlight pre .cs { color: #776e71 } /* Comment.Special */
.xhighlight pre .gd { color: #ef6155 } /* Generic.Deleted */
.xhighlight pre .ge { font-style: italic } /* Generic.Emph */
.xhighlight pre .gh { color: #e7e9db; font-weight: bold } /* Generic.Heading */
.xhighlight pre .gi { color: #48b685 } /* Generic.Inserted */
.xhighlight pre .gp { color: #776e71; font-weight: bold } /* Generic.Prompt */
.xhighlight pre .gs { font-weight: bold } /* Generic.Strong */
.xhighlight pre .gu { color: #5bc4bf; font-weight: bold } /* Generic.Subheading */
.xhighlight pre .kc { color: #815ba4 } /* Keyword.Constant */
.xhighlight pre .kd { color: #815ba4 } /* Keyword.Declaration */
.xhighlight pre .kn { color: #5bc4bf } /* Keyword.Namespace */
.xhighlight pre .kp { color: #815ba4 } /* Keyword.Pseudo */
.xhighlight pre .kr { color: #815ba4 } /* Keyword.Reserved */
.xhighlight pre .kt { color: #fec418 } /* Keyword.Type */
.xhighlight pre .ld { color: #48b685 } /* Literal.Date */
.xhighlight pre .m { color: #f99b15 } /* Literal.Number */
.xhighlight pre .s { color: #48b685 } /* Literal.String */
.xhighlight pre .na { color: #06b6ef } /* Name.Attribute */
.xhighlight pre .nb { color: #e7e9db } /* Name.Builtin */
.xhighlight pre .nc { color: #fec418 } /* Name.Class */
.xhighlight pre .no { color: #ef6155 } /* Name.Constant */
.xhighlight pre .nd { color: #5bc4bf } /* Name.Decorator */
.xhighlight pre .ni { color: #e7e9db } /* Name.Entity */
.xhighlight pre .ne { color: #ef6155 } /* Name.Exception */
.xhighlight pre .nf { color: #06b6ef } /* Name.Function */
.xhighlight pre .nl { color: #e7e9db } /* Name.Label */
.xhighlight pre .nn { color: #fec418 } /* Name.Namespace */
.xhighlight pre .nx { color: #06b6ef } /* Name.Other */
.xhighlight pre .py { color: #e7e9db } /* Name.Property */
.xhighlight pre .nt { color: #5bc4bf } /* Name.Tag */
.xhighlight pre .nv { color: #ef6155 } /* Name.Variable */
.xhighlight pre .ow { color: #5bc4bf } /* Operator.Word */
.xhighlight pre .w { color: #e7e9db } /* Text.Whitespace */
.xhighlight pre .mb { color: #f99b15 } /* Literal.Number.Bin */
.xhighlight pre .mf { color: #f99b15 } /* Literal.Number.Float */
.xhighlight pre .mh { color: #f99b15 } /* Literal.Number.Hex */
.xhighlight pre .mi { color: #f99b15 } /* Literal.Number.Integer */
.xhighlight pre .mo { color: #f99b15 } /* Literal.Number.Oct */
.xhighlight pre .sa { color: #48b685 } /* Literal.String.Affix */
.xhighlight pre .sb { color: #48b685 } /* Literal.String.Backtick */
.xhighlight pre .sc { color: #e7e9db } /* Literal.String.Char */
.xhighlight pre .dl { color: #48b685 } /* Literal.String.Delimiter */
.xhighlight pre .sd { color: #776e71 } /* Literal.String.Doc */
.xhighlight pre .s2 { color: #48b685 } /* Literal.String.Double */
.xhighlight pre .se { color: #f99b15 } /* Literal.String.Escape */
.xhighlight pre .sh { color: #48b685 } /* Literal.String.Heredoc */
.xhighlight pre .si { color: #f99b15 } /* Literal.String.Interpol */
.xhighlight pre .sx { color: #48b685 } /* Literal.String.Other */
.xhighlight pre .sr { color: #48b685 } /* Literal.String.Regex */
.xhighlight pre .s1 { color: #48b685 } /* Literal.String.Single */
.xhighlight pre .ss { color: #48b685 } /* Literal.String.Symbol */
.xhighlight pre .bp { color: #e7e9db } /* Name.Builtin.Pseudo */
.xhighlight pre .fm { color: #06b6ef } /* Name.Function.Magic */
.xhighlight pre .vc { color: #ef6155 } /* Name.Variable.Class */
.xhighlight pre .vg { color: #ef6155 } /* Name.Variable.Global */
.xhighlight pre .vi { color: #ef6155 } /* Name.Variable.Instance */
.xhighlight pre .vm { color: #ef6155 } /* Name.Variable.Magic */
.xhighlight pre .il { color: #f99b15 } /* Literal.Number.Integer.Long */
