.xhighlight .hll { background-color: #ffffcc }
.xhighlight  { background: #ffffff; }
.xhighlight .c { color: #888888 } /* Comment */
.xhighlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.xhighlight .k { color: #008800; font-weight: bold } /* Keyword */
.xhighlight .ch { color: #888888 } /* Comment.Hashbang */
.xhighlight .cm { color: #888888 } /* Comment.Multiline */
.xhighlight .cp { color: #cc0000; font-weight: bold } /* Comment.Preproc */
.xhighlight .cpf { color: #888888 } /* Comment.PreprocFile */
.xhighlight .c1 { color: #888888 } /* Comment.Single */
.xhighlight .cs { color: #cc0000; font-weight: bold; background-color: #fff0f0 } /* Comment.Special */
.xhighlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.xhighlight .ge { font-style: italic } /* Generic.Emph */
.xhighlight .gr { color: #aa0000 } /* Generic.Error */
.xhighlight .gh { color: #333333 } /* Generic.Heading */
.xhighlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.xhighlight .go { color: #888888 } /* Generic.Output */
.xhighlight .gp { color: #555555 } /* Generic.Prompt */
.xhighlight .gs { font-weight: bold } /* Generic.Strong */
.xhighlight .gu { color: #666666 } /* Generic.Subheading */
.xhighlight .gt { color: #aa0000 } /* Generic.Traceback */
.xhighlight .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
.xhighlight .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
.xhighlight .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
.xhighlight .kp { color: #008800 } /* Keyword.Pseudo */
.xhighlight .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
.xhighlight .kt { color: #888888; font-weight: bold } /* Keyword.Type */
.xhighlight .m { color: #0000DD; font-weight: bold } /* Literal.Number */
.xhighlight .s { color: #dd2200; background-color: #fff0f0 } /* Literal.String */
.xhighlight .na { color: #336699 } /* Name.Attribute */
.xhighlight .nb { color: #003388 } /* Name.Builtin */
.xhighlight .nc { color: #bb0066; font-weight: bold } /* Name.Class */
.xhighlight .no { color: #003366; font-weight: bold } /* Name.Constant */
.xhighlight .nd { color: #555555 } /* Name.Decorator */
.xhighlight .ne { color: #bb0066; font-weight: bold } /* Name.Exception */
.xhighlight .nf { color: #0066bb; font-weight: bold } /* Name.Function */
.xhighlight .nl { color: #336699; font-style: italic } /* Name.Label */
.xhighlight .nn { color: #bb0066; font-weight: bold } /* Name.Namespace */
.xhighlight .py { color: #336699; font-weight: bold } /* Name.Property */
.xhighlight .nt { color: #bb0066; font-weight: bold } /* Name.Tag */
.xhighlight .nv { color: #336699 } /* Name.Variable */
.xhighlight .ow { color: #008800 } /* Operator.Word */
.xhighlight .w { color: #bbbbbb } /* Text.Whitespace */
.xhighlight .mb { color: #0000DD; font-weight: bold } /* Literal.Number.Bin */
.xhighlight .mf { color: #0000DD; font-weight: bold } /* Literal.Number.Float */
.xhighlight .mh { color: #0000DD; font-weight: bold } /* Literal.Number.Hex */
.xhighlight .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
.xhighlight .mo { color: #0000DD; font-weight: bold } /* Literal.Number.Oct */
.xhighlight .sa { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Affix */
.xhighlight .sb { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Backtick */
.xhighlight .sc { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Char */
.xhighlight .dl { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Delimiter */
.xhighlight .sd { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Doc */
.xhighlight .s2 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Double */
.xhighlight .se { color: #0044dd; background-color: #fff0f0 } /* Literal.String.Escape */
.xhighlight .sh { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Heredoc */
.xhighlight .si { color: #3333bb; background-color: #fff0f0 } /* Literal.String.Interpol */
.xhighlight .sx { color: #22bb22; background-color: #f0fff0 } /* Literal.String.Other */
.xhighlight .sr { color: #008800; background-color: #fff0ff } /* Literal.String.Regex */
.xhighlight .s1 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Single */
.xhighlight .ss { color: #aa6600; background-color: #fff0f0 } /* Literal.String.Symbol */
.xhighlight .bp { color: #003388 } /* Name.Builtin.Pseudo */
.xhighlight .fm { color: #0066bb; font-weight: bold } /* Name.Function.Magic */
.xhighlight .vc { color: #336699 } /* Name.Variable.Class */
.xhighlight .vg { color: #dd7700 } /* Name.Variable.Global */
.xhighlight .vi { color: #3333bb } /* Name.Variable.Instance */
.xhighlight .vm { color: #336699 } /* Name.Variable.Magic */
.xhighlight .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */
