.xhighlight .hll { background-color: #ffffcc }
.xhighlight  { background: #eeeedd; }
.xhighlight .c { color: #228B22 } /* Comment */
.xhighlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.xhighlight .k { color: #8B008B; font-weight: bold } /* Keyword */
.xhighlight .ch { color: #228B22 } /* Comment.Hashbang */
.xhighlight .cm { color: #228B22 } /* Comment.Multiline */
.xhighlight .cp { color: #1e889b } /* Comment.Preproc */
.xhighlight .cpf { color: #228B22 } /* Comment.PreprocFile */
.xhighlight .c1 { color: #228B22 } /* Comment.Single */
.xhighlight .cs { color: #8B008B; font-weight: bold } /* Comment.Special */
.xhighlight .gd { color: #aa0000 } /* Generic.Deleted */
.xhighlight .ge { font-style: italic } /* Generic.Emph */
.xhighlight .gr { color: #aa0000 } /* Generic.Error */
.xhighlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.xhighlight .gi { color: #00aa00 } /* Generic.Inserted */
.xhighlight .go { color: #888888 } /* Generic.Output */
.xhighlight .gp { color: #555555 } /* Generic.Prompt */
.xhighlight .gs { font-weight: bold } /* Generic.Strong */
.xhighlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.xhighlight .gt { color: #aa0000 } /* Generic.Traceback */
.xhighlight .kc { color: #8B008B; font-weight: bold } /* Keyword.Constant */
.xhighlight .kd { color: #8B008B; font-weight: bold } /* Keyword.Declaration */
.xhighlight .kn { color: #8B008B; font-weight: bold } /* Keyword.Namespace */
.xhighlight .kp { color: #8B008B; font-weight: bold } /* Keyword.Pseudo */
.xhighlight .kr { color: #8B008B; font-weight: bold } /* Keyword.Reserved */
.xhighlight .kt { color: #00688B; font-weight: bold } /* Keyword.Type */
.xhighlight .m { color: #B452CD } /* Literal.Number */
.xhighlight .s { color: #CD5555 } /* Literal.String */
.xhighlight .na { color: #658b00 } /* Name.Attribute */
.xhighlight .nb { color: #658b00 } /* Name.Builtin */
.xhighlight .nc { color: #008b45; font-weight: bold } /* Name.Class */
.xhighlight .no { color: #00688B } /* Name.Constant */
.xhighlight .nd { color: #707a7c } /* Name.Decorator */
.xhighlight .ne { color: #008b45; font-weight: bold } /* Name.Exception */
.xhighlight .nf { color: #008b45 } /* Name.Function */
.xhighlight .nn { color: #008b45; text-decoration: underline } /* Name.Namespace */
.xhighlight .nt { color: #8B008B; font-weight: bold } /* Name.Tag */
.xhighlight .nv { color: #00688B } /* Name.Variable */
.xhighlight .ow { color: #8B008B } /* Operator.Word */
.xhighlight .w { color: #bbbbbb } /* Text.Whitespace */
.xhighlight .mb { color: #B452CD } /* Literal.Number.Bin */
.xhighlight .mf { color: #B452CD } /* Literal.Number.Float */
.xhighlight .mh { color: #B452CD } /* Literal.Number.Hex */
.xhighlight .mi { color: #B452CD } /* Literal.Number.Integer */
.xhighlight .mo { color: #B452CD } /* Literal.Number.Oct */
.xhighlight .sa { color: #CD5555 } /* Literal.String.Affix */
.xhighlight .sb { color: #CD5555 } /* Literal.String.Backtick */
.xhighlight .sc { color: #CD5555 } /* Literal.String.Char */
.xhighlight .dl { color: #CD5555 } /* Literal.String.Delimiter */
.xhighlight .sd { color: #CD5555 } /* Literal.String.Doc */
.xhighlight .s2 { color: #CD5555 } /* Literal.String.Double */
.xhighlight .se { color: #CD5555 } /* Literal.String.Escape */
.xhighlight .sh { color: #1c7e71; font-style: italic } /* Literal.String.Heredoc */
.xhighlight .si { color: #CD5555 } /* Literal.String.Interpol */
.xhighlight .sx { color: #cb6c20 } /* Literal.String.Other */
.xhighlight .sr { color: #1c7e71 } /* Literal.String.Regex */
.xhighlight .s1 { color: #CD5555 } /* Literal.String.Single */
.xhighlight .ss { color: #CD5555 } /* Literal.String.Symbol */
.xhighlight .bp { color: #658b00 } /* Name.Builtin.Pseudo */
.xhighlight .fm { color: #008b45 } /* Name.Function.Magic */
.xhighlight .vc { color: #00688B } /* Name.Variable.Class */
.xhighlight .vg { color: #00688B } /* Name.Variable.Global */
.xhighlight .vi { color: #00688B } /* Name.Variable.Instance */
.xhighlight .vm { color: #00688B } /* Name.Variable.Magic */
.xhighlight .il { color: #B452CD } /* Literal.Number.Integer.Long */
