.xhighlight pre .hll { background-color: #ffffcc }
.xhighlight pre, .xhighlighttable pre { background: #fdf6e3; color: #657b83 }
.xhighlight pre .c { color: #93a1a1; font-style: italic } /* Comment */
.xhighlight pre .err { color: #dc322f } /* Error */
.xhighlight pre .g { color: #657b83 } /* Generic */
.xhighlight pre .k { color: #859900 } /* Keyword */
.xhighlight pre .l { color: #657b83 } /* Literal */
.xhighlight pre .n { color: #586e75 } /* Name */
.xhighlight pre .o { color: #657b83 } /* Operator */
.xhighlight pre .x { color: #657b83 } /* Other */
.xhighlight pre .p { color: #657b83 } /* Punctuation */
.xhighlight pre .cm { color: #93a1a1; font-style: italic } /* Comment.Multiline */
.xhighlight pre .cp { color: #93a1a1; font-style: italic } /* Comment.Preproc */
.xhighlight pre .c1 { color: #93a1a1; font-style: italic } /* Comment.Single */
.xhighlight pre .cs { color: #93a1a1; font-style: italic } /* Comment.Special */
.xhighlight pre .gd { color: #657b83 } /* Generic.Deleted */
.xhighlight pre .ge { color: #657b83 } /* Generic.Emph */
.xhighlight pre .gr { color: #657b83 } /* Generic.Error */
.xhighlight pre .gh { color: #657b83 } /* Generic.Heading */
.xhighlight pre .gi { color: #657b83 } /* Generic.Inserted */
.xhighlight pre .go { color: #657b83 } /* Generic.Output */
.xhighlight pre .gp { color: #657b83 } /* Generic.Prompt */
.xhighlight pre .gs { color: #657b83 } /* Generic.Strong */
.xhighlight pre .gu { color: #657b83 } /* Generic.Subheading */
.xhighlight pre .gt { color: #657b83 } /* Generic.Traceback */
.xhighlight pre .kc { color: #859900 } /* Keyword.Constant */
.xhighlight pre .kd { color: #859900 } /* Keyword.Declaration */
.xhighlight pre .kn { color: #cb4b16 } /* Keyword.Namespace */
.xhighlight pre .kp { color: #cb4b16 } /* Keyword.Pseudo */
.xhighlight pre .kr { color: #859900 } /* Keyword.Reserved */
.xhighlight pre .kt { color: #859900 } /* Keyword.Type */
.xhighlight pre .ld { color: #657b83 } /* Literal.Date */
.xhighlight pre .m { color: #2aa198 } /* Literal.Number */
.xhighlight pre .s { color: #2aa198 } /* Literal.String */
.xhighlight pre .na { color: #657b83 } /* Name.Attribute */
.xhighlight pre .nb { color: #268bd2 } /* Name.Builtin */
.xhighlight pre .nc { color: #268bd2 } /* Name.Class */
.xhighlight pre .no { color: #b58900 } /* Name.Constant */
.xhighlight pre .nd { color: #cb4b16 } /* Name.Decorator */
.xhighlight pre .ni { color: #cb4b16 } /* Name.Entity */
.xhighlight pre .ne { color: #cb4b16 } /* Name.Exception */
.xhighlight pre .nf { color: #268bd2 } /* Name.Function */
.xhighlight pre .nl { color: #657b83 } /* Name.Label */
.xhighlight pre .nn { color: #b58900 } /* Name.Namespace */
.xhighlight pre .nx { color: #657b83 } /* Name.Other */
.xhighlight pre .py { color: #268bd2 } /* Name.Property */
.xhighlight pre .nt { color: #859900 } /* Name.Tag */
.xhighlight pre .nv { color: #cb4b16 } /* Name.Variable */
.xhighlight pre .ow { color: #859900 } /* Operator.Word */
.xhighlight pre .w { color: #fdf6e3 } /* Text.Whitespace */
.xhighlight pre .mf { color: #2aa198 } /* Literal.Number.Float */
.xhighlight pre .mh { color: #2aa198 } /* Literal.Number.Hex */
.xhighlight pre .mi { color: #2aa198 } /* Literal.Number.Integer */
.xhighlight pre .mo { color: #2aa198 } /* Literal.Number.Oct */
.xhighlight pre .sb { color: #2aa198 } /* Literal.String.Backtick */
.xhighlight pre .sc { color: #2aa198 } /* Literal.String.Char */
.xhighlight pre .sd { color: #2aa198 } /* Literal.String.Doc */
.xhighlight pre .s2 { color: #2aa198 } /* Literal.String.Double */
.xhighlight pre .se { color: #cb4b16 } /* Literal.String.Escape */
.xhighlight pre .sh { color: #2aa198 } /* Literal.String.Heredoc */
.xhighlight pre .si { color: #cb4b16 } /* Literal.String.Interpol */
.xhighlight pre .sx { color: #2aa198 } /* Literal.String.Other */
.xhighlight pre .sr { color: #2aa198 } /* Literal.String.Regex */
.xhighlight pre .s1 { color: #2aa198 } /* Literal.String.Single */
.xhighlight pre .ss { color: #2aa198 } /* Literal.String.Symbol */
.xhighlight pre .bp { color: #268bd2; font-weight: bold } /* Name.Builtin.Pseudo */
.xhighlight pre .vc { color: #268bd2 } /* Name.Variable.Class */
.xhighlight pre .vg { color: #268bd2 } /* Name.Variable.Global */
.xhighlight pre .vi { color: #268bd2 } /* Name.Variable.Instance */
.xhighlight pre .il { color: #2aa198 } /* Literal.Number.Integer.Long */
