.xhighlight .hll { background-color: #ffffcc }
.xhighlight  { background: #f8f8f8; }
.xhighlight .c { color: #8f5902; font-style: italic } /* Comment */
.xhighlight .err { color: #a40000; border: 1px solid #ef2929 } /* Error */
.xhighlight .g { color: #000000 } /* Generic */
.xhighlight .k { color: #204a87; font-weight: bold } /* Keyword */
.xhighlight .l { color: #000000 } /* Literal */
.xhighlight .n { color: #000000 } /* Name */
.xhighlight .o { color: #ce5c00; font-weight: bold } /* Operator */
.xhighlight .x { color: #000000 } /* Other */
.xhighlight .p { color: #000000; font-weight: bold } /* Punctuation */
.xhighlight .ch { color: #8f5902; font-style: italic } /* Comment.Hashbang */
.xhighlight .cm { color: #8f5902; font-style: italic } /* Comment.Multiline */
.xhighlight .cp { color: #8f5902; font-style: italic } /* Comment.Preproc */
.xhighlight .cpf { color: #8f5902; font-style: italic } /* Comment.PreprocFile */
.xhighlight .c1 { color: #8f5902; font-style: italic } /* Comment.Single */
.xhighlight .cs { color: #8f5902; font-style: italic } /* Comment.Special */
.xhighlight .gd { color: #a40000 } /* Generic.Deleted */
.xhighlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
.xhighlight .gr { color: #ef2929 } /* Generic.Error */
.xhighlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.xhighlight .gi { color: #00A000 } /* Generic.Inserted */
.xhighlight .go { color: #000000; font-style: italic } /* Generic.Output */
.xhighlight .gp { color: #8f5902 } /* Generic.Prompt */
.xhighlight .gs { color: #000000; font-weight: bold } /* Generic.Strong */
.xhighlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.xhighlight .gt { color: #a40000; font-weight: bold } /* Generic.Traceback */
.xhighlight .kc { color: #204a87; font-weight: bold } /* Keyword.Constant */
.xhighlight .kd { color: #204a87; font-weight: bold } /* Keyword.Declaration */
.xhighlight .kn { color: #204a87; font-weight: bold } /* Keyword.Namespace */
.xhighlight .kp { color: #204a87; font-weight: bold } /* Keyword.Pseudo */
.xhighlight .kr { color: #204a87; font-weight: bold } /* Keyword.Reserved */
.xhighlight .kt { color: #204a87; font-weight: bold } /* Keyword.Type */
.xhighlight .ld { color: #000000 } /* Literal.Date */
.xhighlight .m { color: #0000cf; font-weight: bold } /* Literal.Number */
.xhighlight .s { color: #4e9a06 } /* Literal.String */
.xhighlight .na { color: #c4a000 } /* Name.Attribute */
.xhighlight .nb { color: #204a87 } /* Name.Builtin */
.xhighlight .nc { color: #000000 } /* Name.Class */
.xhighlight .no { color: #000000 } /* Name.Constant */
.xhighlight .nd { color: #5c35cc; font-weight: bold } /* Name.Decorator */
.xhighlight .ni { color: #ce5c00 } /* Name.Entity */
.xhighlight .ne { color: #cc0000; font-weight: bold } /* Name.Exception */
.xhighlight .nf { color: #000000 } /* Name.Function */
.xhighlight .nl { color: #f57900 } /* Name.Label */
.xhighlight .nn { color: #000000 } /* Name.Namespace */
.xhighlight .nx { color: #000000 } /* Name.Other */
.xhighlight .py { color: #000000 } /* Name.Property */
.xhighlight .nt { color: #204a87; font-weight: bold } /* Name.Tag */
.xhighlight .nv { color: #000000 } /* Name.Variable */
.xhighlight .ow { color: #204a87; font-weight: bold } /* Operator.Word */
.xhighlight .w { color: #f8f8f8; text-decoration: underline } /* Text.Whitespace */
.xhighlight .mb { color: #0000cf; font-weight: bold } /* Literal.Number.Bin */
.xhighlight .mf { color: #0000cf; font-weight: bold } /* Literal.Number.Float */
.xhighlight .mh { color: #0000cf; font-weight: bold } /* Literal.Number.Hex */
.xhighlight .mi { color: #0000cf; font-weight: bold } /* Literal.Number.Integer */
.xhighlight .mo { color: #0000cf; font-weight: bold } /* Literal.Number.Oct */
.xhighlight .sa { color: #4e9a06 } /* Literal.String.Affix */
.xhighlight .sb { color: #4e9a06 } /* Literal.String.Backtick */
.xhighlight .sc { color: #4e9a06 } /* Literal.String.Char */
.xhighlight .dl { color: #4e9a06 } /* Literal.String.Delimiter */
.xhighlight .sd { color: #8f5902; font-style: italic } /* Literal.String.Doc */
.xhighlight .s2 { color: #4e9a06 } /* Literal.String.Double */
.xhighlight .se { color: #4e9a06 } /* Literal.String.Escape */
.xhighlight .sh { color: #4e9a06 } /* Literal.String.Heredoc */
.xhighlight .si { color: #4e9a06 } /* Literal.String.Interpol */
.xhighlight .sx { color: #4e9a06 } /* Literal.String.Other */
.xhighlight .sr { color: #4e9a06 } /* Literal.String.Regex */
.xhighlight .s1 { color: #4e9a06 } /* Literal.String.Single */
.xhighlight .ss { color: #4e9a06 } /* Literal.String.Symbol */
.xhighlight .bp { color: #3465a4 } /* Name.Builtin.Pseudo */
.xhighlight .fm { color: #000000 } /* Name.Function.Magic */
.xhighlight .vc { color: #000000 } /* Name.Variable.Class */
.xhighlight .vg { color: #000000 } /* Name.Variable.Global */
.xhighlight .vi { color: #000000 } /* Name.Variable.Instance */
.xhighlight .vm { color: #000000 } /* Name.Variable.Magic */
.xhighlight .il { color: #0000cf; font-weight: bold } /* Literal.Number.Integer.Long */
